@font-face {
    font-family: "Flamenco-Light";
    src: url("source/Flamenco-Light.ttf")format ("truetype");
} 
@font-face {
    font-family: "DawningofaNewDay";
    src: url("source/DawningofaNewDay.ttf")format("truetype");
}



body {
    background-color: #F4F4F6;
    font-family: "Flamenco-Light", serif, sans-serif;
}

.trois_block {
    display: flex;
    flex-direction: column;
}
.block_haut {
    display: flex;
    justify-content: center
}
.competence {
    display: flex;
    flex-direction: column;
/* justify-content: center; 
     margin-left: 160px;*/
    margin-right: auto;  
    width: 800px;
    height: 400px;
    background: white;
    border: 2px solid #B98F9C;
    margin:50px 10px 0px 100px; 
    box-shadow: 3px 12px 24px -3px rgba(26, 25, 28, 0.88);
    -webkit-box-shadow: 3px 12px 24px -3px rgba(26, 25, 28, 0.88);
    -moz-box-shadow: 3px 12px 24px -3px rgba(26, 25, 28, 0.88);
}
.block_li {
    display: flex;
    justify-content: space-around;
}
.block_bas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.experience {
    width: 650px;
    height: 250px;
    background: white;
    border: 2px solid #B98F9C;
    margin: 50px 0 0 100px;
    box-shadow: 3px 12px 24px -3px rgba(26, 25, 28, 0.88);
    -webkit-box-shadow: 3px 12px 24px -3px rgba(26, 25, 28, 0.88);
    -moz-box-shadow: 3px 12px 24px -3px rgba(26, 25, 28, 0.88);
}

.formation {
    width: 650px;
    height: 250px;
    background: white;
    border: 2px solid #B98F9C;
    margin: 50px 10px 0px 50px;
    box-shadow: 3px 12px 24px -3px rgba(26, 25, 28, 0.88);
    -webkit-box-shadow: 3px 12px 24px -3px rgba(26, 25, 28, 0.88);
    -moz-box-shadow: 3px 12px 24px -3px rgba(26, 25, 28, 0.88);
}
h3 {
    
    text-align: center;
}

.global_bouton {
    display: flex;
     justify-content: center;
      align-items: center; 
}


.bouton {

    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #B98F9C;
    border-radius: 20px;
    text-decoration: none; 
    box-shadow: 3px 12px 24px -3px rgba(26, 25, 28, 0.88);
    -webkit-box-shadow: 3px 12px 24px -3px rgba(26, 25, 28, 0.88);
    -moz-box-shadow: 3px 12px 24px -3px rgba(26, 25, 28, 0.88);
}
.cv_pdf {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
}

.bouton:hover {
    color: #463636;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #887979;
    font-weight: bold;
    text-decoration: none;
}


@keyframes spring {
    15% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.2, 1.1);
    }

    40% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0.95, 0.95);
    }

    75% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.05, 1);
    }

    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1, 1);
    }
}